body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.square {
  border: 3px solid wheat;
  font-weight: bold;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-radius: 0;
  padding: 0px, 0px;
  margin: 0px;
}

.square-big {
  width: 72px !important;
  height: 72px !important;
}
.square-small {
  width: 48px !important;
  height: 48px !important;
  font-size: 18pt;
  padding: 0pt;
}

.board {
  border: 1px solid black;
  max-width: 360px;
}

.flagCounter {
  float: left;
}
.timer {
  float: right;
}

.SevenSeg {
  background-color: rgba(0, 0, 0, 1);
  height: 70px !important;
  width: 39px;
  border: 1px solid black;
  float: left;
  /*//display: "inline"
    //verticalAlign: "middle"*/
}

.topBox {
  margin-top: 12px;
}

.hexagon,
.hexagon-on {
  position: relative;
  left: 4px;
  width: 9px;
  height: 15px;
  background-color: #4a0002;
  margin: 100px 10px;
  transform: rotate(90deg);
}

.hexagon-on {
  background-color: red;
}

.hexagon:before,
.hexagon:after,
.hexagon-on:before,
.hexagon-on:after {
  content: "";
  position: relative;
  width: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
}

.hexagon:before,
.hexagon-on:before {
  bottom: 100%;
  width: 0;
  left: -0px;
  top: -27.4px;
}

.hexagon:after,
.hexagon-on:after {
  top: 100%;
  width: 0;
  left: -9px;
  top: 18.6px;
}

.hexagon:before {
  border-bottom: 5px solid #4a0002;
}
.hexagon-on:before {
  border-bottom: 5px solid red;
}

.hexagon-on:after {
  border-top: 5px solid red;
}

.hexagon:after {
  border-top: 5px solid #4a0002;
}

.trapezoid {
  position: relative;
  margin-top: 0px;
  height: 0;
  width: 27px;
  border-bottom: 9px solid #4a0002;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  padding: 0 8px 0 0;
}

.outerBox {
  border: 3px solid wheat;
  border-top-color: rgba(20, 20, 20, 1);
  border-left-color: rgba(20, 20, 20, 1);
}
.segment0 {
  transform: rotate(180deg);
  left: 5px;
  top: 2px;
}
.segment1 {
  transform: rotate(90deg);
  left: -7px;
  top: 6px;
}
.segment2 {
  transform: rotate(270deg);
  left: 17px;
  top: -3px;
}
.segment3 {
  top: -100px;
  left: 4px;
}
.segment4 {
  transform: rotate(90deg);
  top: -197px;
  left: -7px;
}
.segment5 {
  transform: rotate(270deg);
  top: -206px;
  left: 17px;
}
.segment6 {
  top: -203px;
  left: 5px;
}
